[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
einops = "*"
tqdm = "*"
rotary-embedding-torch = "*"
torchvision = "*"
matplotlib = "*"
einops-exts = "*"

[dev-packages]

[requires]
python_version = "3.9"
